<style  type="text/css">
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 4px;
}
.panel-info {
  border-color: #bce8f1;
}

.panel-info > .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
</style>

<div class="panel panel-info">
		<div class="panel-heading ">友情提示</div>
			您的密码已经由《系统管理员》重置为【qq】
			为确保安全，请及时 点此链接 <a href="www.kylinboy.org/loginUI/o_front_login_ui_ou_100001_u" target="_blank"> 登录系统 </a>，修改密码！
			如果您无法点击，请复制下面链接粘贴到浏览器地址栏来访问：<br/>
			www.kylinboy.org/loginUI/o_front_login_ui_ou_100001_u
</div>
