<style  type="text/css">
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 4px;
}
.panel-info {
  border-color: #bce8f1;
}

.panel-info > .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
</style>

<div class="panel panel-info">
		<div class="panel-heading ">友情提示</div>
			您的密码已经由《系统管理员》重置为【?羽????】-- 
			为确保安全，请及时<a href="www.kylinboy.org">登录系统</a>，修改密码！
</div>
