<#import "spring.ftl" as spring />
<#include "taglib.ftl">
<#include "definefunction_page.ftl">
<#include "definefunction_upload.ftl">
<#include "definefunction_travel.ftl">
<#include "definefunction_userManageAreaItem.ftl">
<#include "definefunction_activity.ftl">

<div class="container" id="body_content_opration">
	<#-- 活动列表 -->
	
	<ul class="list-inline" id="second_navigation_container">
		   		<li class="active" id="left_navigation_button_list"><a href="javascript:void(0)" onclick="switchSetting('','button_list','${KylinboyTravelDeveloperConstant.KYLINBOY_INSTANT_SHARE_LIST2_UI_MAPPING}','#instantShare_content_div','second_navigation_container')"><span class="label label-success">列表</span> </a></li>
		   		<li id="left_navigation_button_add"><a href="javascript:void(0)" onclick="switchSetting('','button_add','${KylinboyTravelDeveloperConstant.KYLINBOY_INSTANT_SHARE_EDIT3_UI_MAPPING}','#instantShare_content_div','second_navigation_container')"><span class="label label-primary">新建</span></a></li>
		   		<li id="left_navigation_button_edit"><a href="javascript:void(0)"><span class="label label-primary">编辑</span></a></li>
	</ul>
</div>
<div class="container" id="body_content_navigation">

		<@listUserManageAreaItem currentUserManageAreaItem=currentUserManageAreaItem/>
		
</div>

<div class="container" id="body_content_detail">
	<div class="row">
			<div class="col-md-12">
				<div id="detail_content_div">
					aaaaaaabbbbbbbbcccccccc
						<#--
						<@listInstantShare page=page />
						-->
				</div>
			</div>
	 </div>
	 <br/>
</div>
<#--
<div id="uploadModalLabel2ContentBody">
		<@listInstantShareImageCounter instantShareImageCounterList=instantShareImageCounterList/>
</div>
-->

