<#import "spring.ftl" as spring />
<#include "taglib.ftl">
<#include "definefunction_page.ftl">
<#include "definefunction_upload.ftl">
<#include "definefunction_travel.ftl">

<div id="body_content_main_screen_second"><!--主屏元素展示二区-->
</div>
<div id="body_content_main_screen_first"><!--主屏元素展示一区-->
	<div class="row" >	
		<div class="col-md-2">
			<div>
				<img src="http://i2.sinaimg.cn/dy/main/mnews/2014/04/0430/90x90.png" width="180">
				<br/>
				<img src="http://image.songtaste.com/images/usericon/s/92/1988892.jpg" class="icon">
				<img src="http://image.songtaste.com/images/usericon/s/17/3800417.JPG" class="icon">
			<img src="http://image.songtaste.com/images/usericon/s/11/3989011.jpg" class="icon">
			<img src="http://image.songtaste.com/images/usericon/s/56/446456.jpg" class="icon">
			<img src="http://image.songtaste.com/images/usericon/l/20/4523320.jpg" border="0" class="icon">
			</div>
		</div>
		<div class="col-md-8">
			
			<div class="text-center">
							<#--<@manifestoListWithImageUI page=page url=KylinboyTravelDeveloperConstant.KYLINBOY_MANIFESTO_LIST_ITEM_UI_MAPPING/>-->
							<ul class="media-list">
									  <li class="media">
									    <a class="pull-left" href="#">
									      <img src="/assets/data/upload/files/1/image/photo/2014/05/19/2.jpg" width='40' height='40' class="media-object img-circle" alt="...">
									    </a>
									    <div class="media-body">
									      <h5 class="media-heading"><span class="text-info">1.五月初五 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span> 已被<span class="text-danger">1234</span>人次关注 最后关注 <span class="text-danger">by</span>
									      <span class="text-primary">在天边上</span> 
									      </h5>
									      <h5><span class="text-info">06/18 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">小榕树</span> </h5>
									    </div>
									  </li>
									  <li class="media">
									    <a class="pull-left" href="#">
									      <img src="/assets/data/upload/files/1/image/photo/2014/05/19/2.jpg" width='40' height='40' class="media-object img-circle" alt="...">
									    </a>
									    <div class="media-body">
									      <h5 class="media-heading"><span class="text-info">2.五月初五 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">1224</span>人次关注 最后关注 <span class="text-danger">by</span>
									      <span class="text-primary">神马都是浮云</span> 
									      </h5>
									      <h5><span class="text-info">06/18 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">小榕树</span> </h5>
									    </div>
									  </li>
									  <li class="media">
									    <a class="pull-left" href="#">
									      <img src="/assets/data/upload/files/1/image/photo/2014/05/19/2.jpg" width='40' height='40' class="media-object img-circle" alt="...">
									    </a>
									    <div class="media-body">
									      <h5 class="media-heading"><span class="text-info">3.五月初五 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									         已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">小葡萄</span> 
									      </h5>
									       <h5><span class="text-info">06/18 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">小榕树</span> </h5>
									    </div>
									  </li>
									  <li class="media">
									    <a class="pull-left" href="#">
									      <img src="/assets/data/upload/files/1/image/photo/2014/05/19/2.jpg" width='40' height='40' class="media-object img-circle" alt="...">
									    </a>
									    <div class="media-body">
									      <h5 class="media-heading"><span class="text-info">4.07/07 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">@梦@</span> 
									      </h5>
									       <h5><span class="text-info">06/18 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">小榕树</span> </h5>
									    </div>
									  </li>
									  <li class="media">
									    <a class="pull-left" href="#">
									      <img src="/assets/data/upload/files/1/image/photo/2014/05/19/2.jpg" width='40' height='40' class="media-object img-circle" alt="...">
									    </a>
									    <div class="media-body">
									      <h5 class="media-heading"><span class="text-info">5. 06/18 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">小榕树</span> 
									      </h5>
									      <h5><span class="text-info">06/18 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">小榕树</span> </h5>
									    </div>
									  </li>
									  <li class="media">
									    <a class="pull-left" href="#">
									      <img src="/assets/data/upload/files/1/image/photo/2014/05/19/2.jpg" width='40' height='40' class="media-object img-circle" alt="...">
									    </a>
									    <div class="media-body">
									      <h5 class="media-heading"><span class="text-info">6. 10/14 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">江湖浪子</span> 
									      </h5>
									      <h5><span class="text-info">06/18 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">小榕树</span> </h5>
									    </div>
									  </li>
									  <li class="media">
									    <a class="pull-left" href="#">
									      <img src="/assets/data/upload/files/1/image/photo/2014/05/19/2.jpg" width='40' height='40' class="media-object img-circle" alt="...">
									    </a>
									    <div class="media-body">
									      <h5 class="media-heading"><span class="text-info">7. 10/14 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">江湖浪子</span> 
									      </h5>
									      <h5><span class="text-info">06/18 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">小榕树</span> </h5>
									    </div>
									  </li>
									  <li class="media">
									    <a class="pull-left" href="#">
									      <img src="/assets/data/upload/files/1/image/photo/2014/05/19/2.jpg" width='40' height='40' class="media-object img-circle" alt="...">
									    </a>
									    <div class="media-body">
									      <h5 class="media-heading"><span class="text-info">8. 10/14 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">江湖浪子</span> 
									      </h5>
									      <h5><span class="text-info">06/18 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">小榕树</span> </h5>
									    </div>
									  </li>
									  <li class="media">
									    <a class="pull-left" href="#">
									      <img src="/assets/data/upload/files/1/image/photo/2014/05/19/2.jpg" width='40' height='40' class="media-object img-circle" alt="...">
									    </a>
									    <div class="media-body">
									      <h5 class="media-heading"><span class="text-info">9. 10/14 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">江湖浪子</span> 
									      </h5>
									      <h5><span class="text-info">06/18 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">小榕树</span> </h5>
									    </div>
									  </li>
									  <li class="media">
									    <a class="pull-left" href="#">
									      <img src="/assets/data/upload/files/1/image/photo/2014/05/19/2.jpg" width='40' height='40' class="media-object img-circle" alt="...">
									    </a>
									    <div class="media-body">
									      <h5 class="media-heading"><span class="text-info">10. 10/14 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">江湖浪子</span> 
									      </h5>
									      <h5><span class="text-info">06/18 东莞松江湖骑行骑行骑行骑行骑行骑行骑行骑行</span>
									       已被<span class="text-danger">124</span>人次关注 最后关注 <span class="text-danger">by</span>
									      	 <span class="text-primary">小榕树</span> </h5>
									    </div>
									  </li>
							</ul>
							<div ><h4><a href="" class="text-warning" title="加载20条"><span class="glyphicon glyphicon-circle-arrow-down"></span></a></h4></div>
				</div>
		</div>
		<div class="col-md-2">
			<!--广告区-->
			<img src="http://image.songtaste.com/images/usericon/s/17/3800417.JPG" class="icon">
			<img src="http://image.songtaste.com/images/usericon/s/11/3989011.jpg" class="icon">
			<img src="http://image.songtaste.com/images/usericon/s/56/446456.jpg" class="icon">
			<img src="http://image.songtaste.com/images/usericon/l/20/4523320.jpg" border="0" class="icon">
		</div>
	</div>
</div>