<hr/>
<div class="container">
<address>
<span class="glyphicon glyphicon-star"></span> 
  <a href="mailto:kylinboy521@163.com">kylinboy521@163.com</a>
  <span class="label label-info">Simple Is Perfect, Follow Your Own Path.</span>
  <strong>kylinboy, studio.</strong><abbr title="Phone">QQ:</abbr> 275060435
</address>
<address>
  Addr:Technology Building 10th, KeYuan Road No.6 Nanshan Shenzhen,China.
    技术支持：kylinboy网络工作室
</address>
</div>