[#ftl]
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><sitemesh:write property="title"/></title>
<sitemesh:write property="head"/>
</head>
<body>
<div style="margin:0 auto;width:1024px;background-color:#c1c1c1;">
<div style="width:1024px;height:100px;background-color:#ccc;float:left;">
	<h3>Welcome ${name} to jit8.org, jit8 means 就他吧！</h3>
	我喜欢旅行，也喜欢分享，一路行程，独家记忆，我怀着真诚地心而来，若我的脚步无法为你停留，只因你未曾在乎过我
	<h3>我把自己放到网上来，希望我的旅程与感受带给你们快乐，走到那里会有一个素昧蒙面的朋友在等待</h3>
</div>
<div style="width:200px;height:500px;float:left;background-color:#fe00df;">
	[#include "left.ftl"]
</div>
<div style="width:398px;float:left;border:1px solid #fefefe;">
<sitemesh:write property="body"/>
</div>
</div>
</body>
</html>