
<#--选择所属影集-->
<#macro selectGalleryRadio children currentGallery radioName="gallery.id">  
    <#if children?? && children?size gt 0>  
        <#list children as child>  
        	<#list 1..depth as i>-</#list>
            
            	<input type="Radio" value="${child.uniqueIdentifier}" name="${radioName}" id="select_parent_gallery_${child.uniqueIdentifier}" <#if currentGallery?? && currentGallery.id == child.id> checked</#if>/>
	             <#if currentGallery?? && currentGallery.id==child.id>
	             	<font color="red">
	             </#if>
             ${(child.theme)?if_exists}
	             <#if currentGallery?? && currentGallery.id==child.id>
	             	</font>
	             </#if>
        </#list>  
    </#if>  	
</#macro>

