<#macro commonBanner> 
  	<div class="container"><img src="/assets/data/upload/2014/04/13/logo.gif"/>  Welcome ${name} to Say Go Now Go <small>全球最大的即时分享社区</small>  <span class="text-danger"> <strong>说走就走</strong></span> </div>
	<h5> 路只属于走它的人们 <small> also </small> 随心而动，捕捉灵感   <span class="text-primary">Simple is perfect! </span></h5>
	<p class="text-primary"><!--我喜欢旅行，也喜欢分享，一路行程，独家记忆，我怀着真诚地心而来，若我的脚步无法为你停留，只因你未曾在乎过我... 希望我的旅程与感受带给你们快乐，走到那里会有一个素昧蒙面的朋友在等待......--></p>
	<!--<h4>致于于方便灵活的架构构建，快捷高效，降低开发难度，高速访问，自由式管理，兴趣为先，享受分享快乐，资源价值化，人脉资产化，发挥优势，更多人受益，<span class="label label-success">诚信牌照</span> 发散思维 <span class="text-danger">插件式模块可热插拔</span></h4>
	<h4>每个人都有一个属于自己的品牌，这便是贯穿你生命历程的整个人生，将自己记录，寄托希望与心愿，便是积累力量，不仅仅是分享快乐与资源，而且将你的资源价值化，将你的人脉资产化，慢慢传播影响力，发挥你的优势，让更多的人受益，这是你一生的品牌，用你的<span class="label label-success">诚信牌照</span>经营好自己的网络人生.....</h4>-->
</#macro> 
