<#import "spring.ftl" as spring />
<#include "taglib.ftl">
<html lang="zh-CN">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="icon" href="/assets/data/image/site_info/icon3.png">
 <!-- Bootstrap -->
    <link href="/assets/common/css/bootstrap/bootstrap_min.css" rel="stylesheet" media="screen">
<title>JIT8.org 就他吧--独家记忆</title>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/common/js/jquery/jquery.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets/common/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	  <h3> Welcome ${name} to jit8.org, jit8 <small>means</small> 就他吧！</h3>
	   
</div>
<div class="container">
	该资源暂时不可访问
</div>

<div class="container">
	<div class="row">
		<span class="label label-default">Default</span>
		<span class="label label-primary">Primary</span>
		<span class="label label-success">Success</span>
		<span class="label label-info">Info</span>
		<span class="label label-warning">Warning</span>
		<span class="label label-danger">Danger</span>
	</div>
</div>
<#--[#include "footer.ftl"]-->


<hr/>
<div class="container">
<address>
<span class="glyphicon glyphicon-star"></span> 
  <a href="mailto:kylinboy521@163.com">kylinboy521@163.com</a>
  <span class="label label-info">Simple Is Perfect, Follow Your Own Path.</span>
  <strong>kylinboy, studio.</strong><abbr title="Phone">QQ:</abbr> 275060435
</address>
<address>
  Addr:Technology Building 10th, KeYuan Road No.6 Nanshan Shenzhen,China.
    技术支持：kylinboy网络工作室
</address>
</div>
</body>
</html>