<#import "spring.ftl" as spring />
<#include "taglib.ftl">
<#include "definefunction_navigation.ftl">
<#include "definefunction_login.ftl">
<html lang="zh-CN">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>JIT8.org 就他吧管理后台--独家记忆</title>
</head>


<body>
<div class="container" id="body_content">
	<div class="row"><a href="/admin/userinfo/userListUI">用户列表</a></div>
	<div class="row">
		<div class="col-md-5">.col-md-5 qqqqqqqqqqqqqqqqqq
			<div style="height:300px">
			<#if (galleryList??)>
				<#list galleryList as gallery>
				<div>${gallery.theme}--${gallery.description}--${gallery.publishTime}<br/>
				<#if gallery.photographList?? && gallery.photographList?size gt 0>
					<#list gallery.photographList as photograph>
					##${photograph.title}##${photograph.imagePath}<br/>
					</#list>
				</#if>	
				</div>  
				</#list>
			</#if>
			</div>
		</div>
  		<div class="col-md-3">.col-md-3 eeeeeeeeeeeee
  			<div style="height:300px">
  			
  			<a href='${KylinboyDeveloperConstant.KYLINBOY_URL_MAPPING_MAPPING}'>静态URL列表</a>
			</div>
			
			<div style="height:300px">
  			
  			<a href='${KylinboyDeveloperConstant.KYLINBOY_PERMISSION_CATEGORY_INDEX_MAPPING}'>权限类别首页</a>
  			<br/>
  			<a href='${KylinboyDeveloperConstant.KYLINBOY_ROLE_ASIGN_PERMISSION_UI_MAPPING}'> 为角色分配权限</a>
			</div>
  		</div>
  		<div class="col-md-4">.col-md-4 ddddddddddddddddddddddd
  			<div style="height:300px">
			</div>
  		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<span class="label label-default">Default</span>
			<span class="label label-primary">Primary</span>
			<span class="label label-success">Success</span>
			<span class="label label-info">Info</span>
			<span class="label label-warning">Warning</span>
			<span class="label label-danger">Danger</span>
		</div>
	</div>
	
</div>


</body>



</html>