<#import "spring.ftl" as spring />
<#include "taglib.ftl">
<#include "definefunction_navigation.ftl">
<#include "definefunction_footer.ftl">
<#include "definefunction_login.ftl">
<#include "definefunction_user.ftl">
<#include "definefunction_page.ftl">
<#include "definefunction_fileMime.ftl">
<#include "definefunction_fileSystemGallery.ftl">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>MIME列表</title>
</head>

<div class="container" id="top_login">
	  <@loginAndLogout />
</div>
<div class="container" id="top_menu">
	<div class="row">
	<@adminNavigation navigationList=navigationTopList currentNavigation=currentNavigation/>
	</div>
</div>

<body>
<div class="container body_id" id="body_content">
	<div class="row">
		<div class="col-md-12">
			<@fileSystemGalleryNavigationUI currentNavigation=currentNavigation/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" id="fileMime_content_div">
		
			<div class="row">
					  <div class="col-md-4">
					 	  <p class="text-danger">${msg}</p>
					  	  <p class="text-primary">添加/修改 文件类型</p>
					</div>	 
					<div class="col-md-8">
					  	  <p class="text-primary">文件类型列表</p> 
					  	  <@listFileMime page=page editNavigation=editNavigation/>
					 </div>	
			</div>
		</div>
	</div>
	
</div>
<script type="text/javascript">
</script>
</body>
<div class="container" id="body_footer">
<@commonFooter/>
</div>
</html>