<#import "spring.ftl" as spring />
<#include "taglib.ftl">
<#include "definefunction_menu.ftl">
<#include "definefunction_login.ftl">
<#include "definefunction_banner.ftl">
<#include "definefunction_navigation.ftl">
<#include "definefunction_footer.ftl">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>修改导航</title>
</head>
<div class="container" id="top_login">
	  <@loginAndLogout />
</div>

<div class="container" id="top_banner">
	  <@commonBanner/>
</div>


<body>
<div class="container" id="body_content">
<div class="row">
	<div class="col-md-12">
	<p class="text-success">前台导航预览:</p>
	<@navigatMenuTopbar navigatMenuList=navigatMenuTopList currentNavigatMenu=currentNavigatMenu/>
	</div>
</div>
<div class="row">

  <div class="col-md-6">
  <p class="text-success">修改导航</p>
  <@form.form commandName="navigatMenu" role="form" action="${KylinboyDeveloperConstant.KYLINBOY_NAVIGATMENU_MODIFY_MAPPING}">
<input type="hidden" name="adminNavigationId" value="${currentNavigation.uniqueIdentifier}">
  <@spring.bind "navigatMenu.uniqueIdentifier" /> 
  <@form.hidden path="id"/>
      <@spring.bind "navigatMenu.name" />  
      <div class="form-group <#if (spring.status.errorMessages?size>0)> has-error </#if>">
	    <label class="control-label" for="name">导航名称: 
			<#if (spring.status.errorMessages?size>0)>
				  <#list spring.status.errorMessages as error>  <small>${error}</small> </#list>
			</#if>
		</label>
	    <@form.input path="name" class="form-control" id="name" placeholder="输入导航名称" required="true"/>
	  </div>
	  <@spring.bind "navigatMenu.code" />  
	  <div class="form-group <#if (spring.status.errorMessages?size>0)> has-error </#if>">
	    <label class="control-label" for="code">导航代码: 
		</label>
	    <input type="text" name="code" value="${navigatMenu.code}" <#if navigatMenu.parent ==null>readonly</#if> class="form-control" id="code" placeholder="输入导航代码，使用字母" required="true"/>
	  </div>
	  <@spring.bind "navigatMenu.iconPath" />
	  <div class="form-group <#if (spring.status.errorMessages?size>0)> has-error </#if>">
	    <label class="control-label" for="code">导航图标: 
			<#if (spring.status.errorMessages?size>0)>
				  <#list spring.status.errorMessages as error>  <small>${error}</small> </#list>
			</#if>
		</label>
	    <@form.input path="iconPath" class="form-control" id="iconPath" placeholder="输入导航图标" />
	 	<input type="button" value="点击上传" class="btn btn-primary" onclick="openWindow('${KylinboyDeveloperConstant.KYLINBOY_FILEINFO_UPLOAD_UI_MAPPING}','iconPath')"/><br/>
	    <div id="iconPath_img">
	    	<img src='${navigatMenu.iconPath}'/>
	    </div>
	  </div>
	  <@spring.bind "navigatMenu.url" />
	  <div class="form-group <#if (spring.status.errorMessages?size>0)> has-error </#if>">
	    <label class="control-label" for="code">导航路径: 
			<#if (spring.status.errorMessages?size>0)>
				  <#list spring.status.errorMessages as error>  <small>${error}</small> </#list>
			</#if>
		</label>
	    <@form.input path="url" class="form-control" id="url" placeholder="输入导航路径" />
	  </div>
	  <@spring.bind "navigatMenu.sequence" />  
	  <div class="form-group <#if (spring.status.errorMessages?size>0)> has-error </#if>">
	    <label class="control-label" for="code">顺序: 
			<#if (spring.status.errorMessages?size>0)>
				  <#list spring.status.errorMessages as error>  <small>${error}</small> </#list>
			</#if>
		</label>
	    <@form.input path="sequence" class="form-control" id="sequence" placeholder="输入导航顺序，使用数字1,2,10,12" required="true"/>
	  </div>
	  <ul class="list-inline">
       	<li><input type="submit" value="保存设置" class="btn btn-primary"/></li>
       </ul>
	  </div>
	  
	  <div class="col-md-3">
		  <div class="panel panel-info">
			<div class="panel-heading ">选择父类</div>
				  <div class="form-group <#if (spring.status.errorMessages?size>0)> has-error </#if>">
				    <label class="control-label" for="parent.id"> 
						<#if (spring.status.errorMessages?size>0)>
							  <#list spring.status.errorMessages as error>  <small>${error}</small> </#list>
						</#if>
					</label>
					<div>
						<#assign depth = 1 />  
				  		<@selectParentNavigatMenuRadio children=navigatMenuList currentNavigatMenu=navigatMenu />
				  	</div>
				  </div>
		  </div>
	  </div>
	  
	  <div class="col-md-3">
		  <div class="panel panel-info">
			<div class="panel-heading ">分配子类</div>
			  <div class="form-group <#if (spring.status.errorMessages?size>0)> has-error </#if> ">
			    <label class="control-label" for="parent.id"> 
					<#if (spring.status.errorMessages?size>0)>
						  <#list spring.status.errorMessages as error>  <small>${error}</small> </#list>
					</#if>
				</label>
				<div>
					<#assign depth = 1 />  
					<@asignChildrenNavigatMenuCheckbox children=navigatMenuList currentNavigatMenu=navigatMenu/>
				</div> 
			  </div>
		  </div>
	  </div>
 
	</@form.form>
  
</div>
</div>
<script src="/assets/ckeditor/adapters/jquery.js"></script>
<div id="filepathTextFieldId_hidden"></div>
<script src="/assets/common/js/jit8_fw/fileupload.js"></script>
<script src="/assets/common/js/jquery/jquery.json-2.4.min.js"></script>
</body>

<div class="container" id="top_menu">
		<#--<@adminNavigation navigationList=navigationTopList currentNavigation=currentNavigation/>-->
</div>
</html>