<style  type="text/css">
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 4px;
}
.panel-info {
  border-color: #bce8f1;
}

.panel-info > .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
</style>

<div class="panel panel-info">
		<div class="panel-heading ">友情提示</div>
			系统成功受理您的忘记密码申请，请点击此<a href="http://localhost:8088/admin/main/userinfo/o_reset_password_email_ui_ou_100001_u/7a456a4a514c317172506a69456c5352666b37644e513d3d" target="_blank">【重置密码链接】</a>来重置您的新密码，如果您点击无反应，请复制下面链接粘贴至浏览器，
			</br>
			http://localhost:8088/admin/main/userinfo/o_reset_password_email_ui_ou_100001_u/7a456a4a514c317172506a69456c5352666b37644e513d3d
			</br>
			链接2天后失效，请您尽快重置新密码，以免影响您的正常使用。
			
</div>
