<#import "spring.ftl" as spring />
<#include "taglib.ftl">
<#include "definefunction_page.ftl">
<div class="container body_content" id="body_content">
<div class="row">
	<div class="col-md-12" id="journey_content_div">
		
	</div>
</div>
